{% extends "base.html" %}

{% block body_styles %} id="tools"{% if user.is_authenticated %} class="logged-in"{% endif %}{% endblock %}

{% block content %}
  <div id="main" class="clearfix">
	<div class="promo first">
        <h2>Down for maintenance</h2>
        <div class="promo-content">
            <p>Finisht.com is moving servers!  We'll be back in a bit.</p>
    		<p>Go finish something so you'll have stuff to put in when we're back.</p>
        </div>
    </div>
  </div>
{% endblock %}

{% block sub_footer %}
  {% if user.is_authenticated %}
    {% include "sub_footer.html" %}
  {% endif %}
{% endblock %}