<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>Finisht | For developers who do things.{% if title %} - {{ title }}{% endif %}</title>

<meta name="keywords" content="Finisht" />
<meta name="description" content="For developers who do things.{% if title %} - {{ title }}{% endif %}" />
<meta name="language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />

<link rel="stylesheet" href="/media/finisht.css" media="all" type="text/css" />
<link rel="icon" href="/media/images/favicon.ico" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.2");</script>
<script type="text/javascript" src="/media/script.js"></script>
<script type="text/javascript">
  var disableFriends = {% if disable_friends %}true{% else %}false{% endif %};
</script>
{% block js %}{% endblock %}

</head>

<body{% block body_styles %}{% endblock %}>

<div id="header">
  <div class="frame">
    <a href="/"><img src="/media/images/logo.jpg" alt="See what you've done!?!" title="See what you've done!?!" /></a>
    <div id="code-promo">
      Developers!  Want to <a href="http://github.com/nicksergeant/finisht/tree/master">help build Finisht?</a>
    </div>
  </div>
</div>
<div id="content" class="frame">
  <div id="content-inner">
    {% block content %}{% endblock %}
  </div>
</div>
{% if user.is_authenticated and home %}
<div id="stats" class="frame" style="padding: 10px 0">
  {{ developer_count }} developers have finisht {{ success_count }} things since we opened up shop.  Good job!
</div>
{% endif %}
<div id="footer" class="frame">
  <div id="footer-inner">
    Finisht was scribbled together by <a href="http://lionburger.net/">Lion Burger, LLC.</a>, and is written with <a href="http://djangopony.com/">pink, pony-powered pencils</a> in <a href="http://www.djangoproject.com">Django</a>.
  </div>
</div>
{% block sub_footer %}{% endblock %}

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f5151d4f5a1f564a000001a');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
