<div id="sub-footer">
  <div class="frame">
    <a href="http://www.djangoproject.com" title="Powered by Django"><img src="/media/images/powered-by-django.gif" alt="Powered by Django" title="Powered by Django" /></a>
    <h3>We're still building Finisht.  What should we do next?</h3>
    <form action="/" method="post" id="feedback-form">
      <div id="feedback-input">
        <textarea name="message" id="id_message" rows="5" cols="60"></textarea>
        <input type="submit" value="Send feedback" />
      </div>
    </form>
  </div>
</div>